.disabled {
  border: none;
  width: 90%;
  text-overflow: ellipsis;
}

.selected {
  background: hsl(0, 0%, 90%);
}

.selected input {
  background: hsl(0, 0%, 90%);
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons svg {
  cursor: pointer;
}

label {
  display: inline-block;
  width: 100%;
}
